<div class="min-h-screen flex">

<!-- LEFT SIDE -->
<div class="hidden md:flex w-1/2 bg-gradient-to-br from-blue-600 to-indigo-700 text-white items-center justify-center p-10">

<div class="max-w-md">
<h1 class="text-4xl font-bold mb-4">
Travel Admin Panel
</h1>

<p class="text-lg opacity-90 mb-6">
Manage destinations, packages, bookings and users in one place.
</p>

<ul class="space-y-2 text-sm">
<li>✔ Manage Users</li>
<li>✔ Track Bookings</li>
<li>✔ Control Packages</li>
<li>✔ View Analytics</li>
</ul>
</div>

</div>

<!-- RIGHT SIDE -->
<div class="w-full md:w-1/2 flex items-center justify-center bg-gray-100">

<div class="w-full max-w-md bg-white shadow-lg rounded-xl p-8">

<h2 class="text-2xl font-bold mb-6 text-center">
Login
</h2>

<form (ngSubmit)="login()" class="space-y-4">

<!-- Email -->
<div>
<label class="text-sm text-gray-600">Email</label>
<input
type="email"
[(ngModel)]="form.email"
name="email"
placeholder="Enter email"
class="w-full mt-1 p-2 border rounded-lg focus:ring focus:ring-blue-300">
</div>

<!-- Password -->
<div>
<label class="text-sm text-gray-600">Password</label>
<input
type="password"
[(ngModel)]="form.password"
name="password"
placeholder="Enter password"
class="w-full mt-1 p-2 border rounded-lg focus:ring focus:ring-blue-300">
</div>

<!-- Button -->
<button
type="submit"
class="w-full bg-blue-600 text-white py-2 cursor-pointer rounded-lg hover:bg-blue-700 transition">
Login
</button>
   <p class="text-center text-sm mt-4 text-gray-600">
      Not Account Yet?
      <a
        routerLink="/auth/register"
        class="text-blue-600 hover:underline ml-1">
        Register
      </a>
    </p>
</form>
</div>
</div>
</div>