<div class="fixed top-5 right-5 space-y-3 z-50">

  <div
    *ngFor="let toast of toasts"
    class="text-white px-4 py-3 rounded-lg shadow-lg flex items-center gap-3 animate-slide"
    [ngClass]="getClass(toast.type)"
  >

    <!-- Icon -->
    <span>
      {{ toast.type === 'success' ? '✅' :
         toast.type === 'error' ? '❌' :
         toast.type === 'warning' ? '⚠️' : 'ℹ️' }}
    </span>

    <!-- Message -->
    <span class="text-sm font-medium">
      {{ toast.message }}
    </span>

    <!-- Close -->
    <button
      (click)="remove(toast.id)"
      class="ml-auto text-white/80 hover:text-white"
    >
      ✕
    </button>

  </div>

</div>